<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rental Post</title>

    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- 輪播元素套件 -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>


    <!-- my rental_homepage.css -->
    <link rel="stylesheet" href="../static/posthouse_page.css" th:href="@{/posthouse_page.css}">

    <!-- 文字動畫 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

</head>

<body>
    <!-- nav -->
    <nav class="nav nav_fixtop" id="navbar">
        <a href="#" class="logo"><i class="fa-solid fa-house">logo</i></a>
        <div class="nav_links" id="nav_links">
          <ul>
            <li><a href="./rental_homepage.html">Home</a></li>
            <li><a href="./search_page.html">Search</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Personal</a></li>

            <!--子安新增-->
            <li class="dropdown">
                <a href="#">Others</a>
                <div class="dropdown-content">
                    <a href="./post_page.html">Post</a>
                    <a href="#">Settings</a>
                    <a href="#">Sign out</a>
                </div>
            </li>
            <!--子安新增end-->

          </ul>
        </div>
    </nav>

    <!-- nav -->

    <section class="post">
        <form method="post" th:action="@{/house/create}">
        <div class="container post_tab">
            <div class="row justify-content-center">
                
                <!-- post -->
                <div class="post_background">
                <h3 class="post_title">刊登資訊 Post Information</h3>
                <div class="tab1"></div>
                    <div class="input_information">
                        <h4 class="little_title">基本資料 Basic Information</h4><br>
                        
                        <!--刊登名稱-->
                        <div>
                            <i class="fa-solid fa-user fa-bounce icon"></i>
                            <input type="text" id="title" name="title" placeholder="刊登名 title" required>
                        </div>

                        <div class="tab2"></div>
                        <!--地址-->
                        <div >
                            <i class="fa-solid fa-key fa-bounce icon"></i>
                            <input type="text" id="address" name="address" placeholder="地址 address" required>
                        </div>

                        <div class="tab2"></div>
                        <!--簡介-->
                        <div >
                            <i class="fa-solid fa-key fa-bounce icon"></i>
                            <input type="text" id="address" name="description" placeholder="簡介 description" required>
                        </div>

                        <div class="tab2"></div>

                        <!--月租-->
                        <div >
                            <i class="fa-solid fa-key fa-bounce icon"></i>
                            <input type="text" id="monthly_fee" name="monthly_fee" placeholder="月租 monthly_fee" required>
                        </div>

                        <div class="tab2"></div>

                        <!-- 租期 -->
                        <div >
                            <i class="fa-solid fa-key fa-bounce icon"></i>
                            <input type="text" id="monthly_fee" name="rent_term" placeholder="租期 rent_term" required>
                        </div>

                        <div class="tab2"></div>

                        <!--人數-->
                        <div >
                            <i class="fa-solid fa-key fa-bounce icon"></i>
                            <input type="text" id="number_of_people" name="capacity" placeholder="人數 number of people" required>
                        </div>

                        <div class="tab2"></div>

                        <!--性別-->
                        <h4 class="little_title">性別 Gender</h4><br>
                        <div>
                            <input type="radio" id="male" name="gender" value="0">
                            <label for="male" class="gender">男生 male</label>
                            <input type="radio" id="female" name="gender" value="1">
                            <label for="female" class="gender">女生 female</label>
                            <input type="radio" id="both" name="gender" value="2">
                            <label for="both" class="gender">皆可 both</label>
                        </div>

                        <div class="tab2"></div>
<!--                        從人數就可以知道是不是雅房，先comment掉-->
<!--房型-->
<!--                        <h4 class="little_title">房型 Room type</h4><br>-->
<!--                        <div>-->
<!--                            <input type="radio" id="room_to_share" name="roomtype" value="雅房 room to share">-->
<!--                            <label for="room_to_share" class="roomtype">雅房 room to share</label>-->
<!--                            <input type="radio" id="studio" name="roomtype" value="套房 studio">-->
<!--                            <label for="studio" class="roomtype">套房 studio</label>-->
<!--                        </div>-->
                        <div class="tab2"></div>
                        <!--樓層-->
                        <h4 class="little_title">樓層 Floor</h4><br>
                        <div>
                            <input type="radio" id="first_floor" name="floor" value="1">
                            <label for="first_floor" class="floor">一樓 first floor</label>
                            <input type="radio" id="second_floor" name="floor" value="2">
                            <label for="second_floor" class="floor">二樓 second floor</label>
                            <input type="radio" id="third_floor" name="floor" value="3">
                            <label for="third_floor" class="floor">三樓 third floor</label><br>
                            <input type="radio" id="fourth_floor" name="floor" value="4">
                            <label for="fourth_floor" class="floor">四樓 fourth floor</label>
                            <input type="radio" id="above_fourth_floor" name="floor" value="5">
                            <label for="above_fourth_floor" class="floor">四樓以上 above fourth floor</label>
                        </div>
                        <div class="tab2"></div>
                        <!--照片-->
                        <h4 class="little_title">房屋照片 Photographs</h4><br>
                        <!--不知道怎麼傳入照片並傳進資料庫-->
                    </div>
                    <!--submit-->
                    <div class="tab2"></div>
                    <div class = "submit_background">
                        <input type="submit" value="Submit" class="submit_btn">
                    </div>
                </div>
                <!-- post end -->
            </div>
        </div>
        </form>
    </section>

</body>
</html>