<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rental Website</title>

    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- my rental_homepage.css -->
    <link rel="stylesheet" href="../static/rental_homepage.css" th:href="@{/rental_homepage.css}">


</head>

<body>
    <!-- header + nar -->
    <section class="header">
      <nav class="nav nav_fixtop" id="navbar">
        <a href="#" class="logo"><i class="fa-solid fa-house">Found房Fun</i></a>
        <div class="nav_links" id="nav_links">
          <i class="fa-solid fa-xmark menu_btn" onclick="hideMenu()"></i>
          <ul>
            <li><a href="./rental_homepage.html">Home</a></li>
            <li><a href="./search_page.html">Search</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <i class="fa-solid fa-bars menu_btn" onclick="showMenu()" id="mbtn"></i>
      </nav>

      <!-- title -->

      <!-- 要幫我們的網站取個好名字 -->
      <div>
        <p class="header_title header_action">Found房Fun</p>
      </div>

      <!-- title end -->
      <!-- login -->
      <!-- login end -->

      <div class="wrapper">
        <div class="form_box login">
          <!-- 登入部分 -->
          <h2>Login</h2>
          <form method="post" action="#" th:action="@{/user/login}">
            <div class="input_box">
              <span class="icon"><i class="fa-solid fa-envelope fa-bounce"></i></span>
              <input type="email" name="email" required>
              <label for="">Email</label>
            </div>
            <div class="input_box">
              <span class="icon"><i class="fa-solid fa-key fa-bounce"></i></span>
              <input type="password" name="password" required>
              <label for="">Password</label>
            </div>

             <!-- 登入 -->
            <div class = "">
              <input type="submit" value="Login" class="login_btn" onclick="return send_login_data()">
            </div>
          
            <div class="to_register_btn">
              <a href="#">Don't have an account 還沒有帳號？點我註冊</a>
            </div>

          </form>
        </div>

        <div class="form_box register">
          <!-- 註冊部分 -->
          <h2>Registration</h2>
          <form method="post" th:action="@{/user/create}">
            <div class="input_box">
              <span class="icon"><i class="fa-solid fa-user fa-bounce"></i></span>
              <input type="username" id="username" name="username" required>
              <label for="">Username</label>
            </div>

            <div class="input_box">
              <span class="icon"><i class="fa-solid fa-key fa-bounce"></i></span>
              <input type="text" id="password" name="password" required>
              <label for="password">Password</label>
            </div>
                
            <div class="input_box">
                <span class="icon"><i class="fa-solid fa-envelope fa-bounce"></i></span>
                <input type="text" id="email" name="email" required>
                <label for="email">Email</label>
            </div>

            <div class="input_box">
              <span class="icon"><i class="fa-solid fa-phone-volume fa-bounce"></i></span>
              <input type="text" id="phone" name="phone"required>
              <label for=" phone">Phone</label>
            </div>
    
            <div class="box">
                <label for="gender">Gender:</label>
                <input type="radio" id="male" name="gender" value="0">
                <label for="male" class="gender">male</label>
                <input type="radio" id="female" name="gender" value="1">
                <label for="female" class="gender">female</label>
            </div>
                
    
            <div class="box">
                <label for="nationality">Nationality:</label>
                <input type="radio" id="taiwan" name="is_foreign" value="0">
                <label for="taiwan" class="nationality">Taiwan</label>
                <input type="radio" id="foreign" name="is_foreign" value="1">
                <label for="foreign" class="nationality">Foreign</label>
            </div>

            <input class="submit_btn" type="submit" value="Submit">
            <div class="to_login_btn">
              <a href="#">I have an account 已有帳號？點我登入</a>
            </div>
    
          </form>
        </div>

      </div>

    </section>
    <!-- header + nar end -->

    <!-- intro -->
    <section class="intro container-fluid">
      <h1>intro</h1>
      <div class="row">
        <div class="video col-md-6 col-sm-12">
          <iframe width="400" height="260" src="https://www.youtube.com/embed/-GQg25oP0S4?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="intro_text">
            (這邊之後放系統介紹 + 專案影片)
            <br>
            我們為政大同學的租屋需求進行考量，為大家設計一款租屋的媒合平台。
            <br>提升大家找房子、租房子的速度！為政大的各位謀求福祉！
            <br>
            We would like to take consideration of students' rental demand in NCCU, and design a rental matching platform. Therefore, we hope we are able to grasp your insight by this questionnaire.
            Enhance the efficiency of finding and renting houses! Seek the welfare of everyone in NCCU! </p>
        </div>
      </div>
    </section>
    <!-- intro end -->

    <!-- feature -->
    <!-- 之後設計正面放圖片跟背面文字 -->
    <section class="feature container-fluid">
      <h1>feature</h1>
      <div class="container-fluid card_place">
        <div class="row justify-content-center">
          <div class="card">
            <div class="photo1 front size">
                特色1
            </div>
            <div class="back size">
              <ul>
                <li> 列點</li>
                <li> 列點</li>
                <li> 列點</li>
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="photo2 front size">
               特色2
            </div>
            <div class="back size">
               列點
            </div>
          </div>

          <div class="card">
            <div class="photo3 front size">
              特色3
            </div>
            <div class="back size">
               列點
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- feature end -->

    <!-- recommend -->
    <section class="recommend container-fluid">
      <h1>recommend</h1>
      <div class="row">
        <div class="col-md-6 col-sm-12">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ab dolor accusantium pariatur facere non dicta repellat odit dolorum corporis labore commodi sit reiciendis molestias, voluptas rerum unde eos hic.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia officia suscipit odit exercitationem laudantium architecto ex, repellat, fuga dolorem aperiam voluptatum ducimus quam molestias! Ducimus amet mollitia impedit vitae suscipit.</p>
        </div>
      </div>
    </section>

    <!-- recommend end -->


    <!-- my script -->
    <script>

    // 當使用手機畫面時nav變成右邊(現在有個小問題:mbtn當畫面拉大要點擊才消失)

      var nav_links = document.getElementById("nav_links");
      var mbtn = document.getElementById("mbtn");
      var navbar = document.getElementById("navbar");

      function showMenu(){
        nav_links.style.right = "0";
        // 因為右邊導覽列微透明所以要隱藏三條線
        mbtn.style.display = "none";
        navbar.classList.remove("nav_fixtop");
      }

      function hideMenu(){
        nav_links.style.right = "-200px";
        mbtn.style.display = "block";
        navbar.classList.remove("nav_fixtop");
      }

    // nav上方固定，scroll背景顏色改變(現在有個小問題:開起手機版後soild nav功能失效)
      const navEl = document.querySelector('.nav');
      const navMeau = document.querySelector('.nav_links');

      window.addEventListener('scroll',() => {

        if(window.scrollY > 550){
          navEl.classList.add('nav_scrolled');
          // navMeau.top = window.screenY;

        }else if(window.screenY <= 550){
          navEl.classList.remove('nav_scrolled');
        }
      });


      //抓現在滑到的位置，改變菜單的top
      window.addEventListener('scroll',() =>{
          navMeau.classList.bottom = window.screenY;
      })

      // 還是用jquery
      //($function())

      // 切換登入與註冊
      const wrapper = document.querySelector('.wrapper');
      const registerLink = document.querySelector('.to_register_btn');
      const loginLink = document.querySelector('.to_login_btn')


      
      registerLink.addEventListener('click',() => {
        wrapper.classList.add('active');
      })

      loginLink.addEventListener('click',() => {
        wrapper.classList.remove('active');
      })


    </script>
    <!-- my script end -->
</body>
</html>
