<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rental Search</title>

    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- 輪播元素套件 -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>


    <!-- my rental_homepage.css -->
    <link rel="stylesheet" href="../static/search_page.css" th:href="@{/search_page.css}">

    <!-- 文字動畫 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>



</head>
<body>
    <!-- nav -->
    <nav class="nav nav_fixtop" id="navbar">
        <a href="#" class="logo"><i class="fa-solid fa-house">Found房Fun</i></a>
        <div class="nav_links" id="nav_links">
          <ul>
            <li><a href="./rental_homepage.html" th:href="@{/user/login}">Home</a></li>
            <li><a href="./search_page.html" th:href="@{/house}">Search</a></li>
            <!-- <li><a href="#">About</a></li> -->
            <!-- <li><a href="#">Personal</a></li> -->

            <li><a href="./personal_page.html" th:href="@{/user/personal}">Personal</a></li>
            <!--子安新增-->
            <li class="dropdown">
                <a href="#">Others</a>
                <div class="dropdown-content">
                    <a href="./posthouse_page.html" th:href="@{/house/create}">Post</a>
                    <a href="./personal_page.html" th:href="@{/user/personal}">Settings</a>
                    <!-- <a href="#">Sign out</a> -->
                      <form method="post" action="#" th:action="@{/user/logout}">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
            <!--子安新增end-->
          </ul>
        </div>
    </nav>

    <!-- nav -->

    <section class="search">
        <div class="container search_tab">
            <div class="row justify-content-center">
                <div class="col-md-12 col-sm-12">
                    <!-- filter -->
                    <div class="container filter">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <!--標題動畫  -->
                                <h1 class="ml11 filter_title">
                                    <span class="text-wrapper">
                                      <span class="line line1"></span>
                                      <span class="letters">我特別想租 My preference would be</span>
                                    </span>
                                  </h1>
                                <!-- 標題動畫  end -->
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <form method="post" action="#" th:action="@{/house/selector}">
                                <select class="filter_item" name="budget">
                                    <option value=-1 selected style="display:none">預算 Budget</option>
                                    <option value=0>5000-10000</option>
                                    <option value=1>$10000-15000</option>
                                    <option value=2>over $15000</option>
                                </select>
                                <select class="filter_item" name="room_type">
                                    <option value=-1 selected style="display:none">房型 Room type</option>
                                    <option value=0>雅房 room to share</option>
                                    <option value=1>套房 studio</option>
                                </select>
<!--                                <select class="filter_item">-->
<!--                                    <option>地點 Location</option>-->
<!--                                    <option>木新路</option>-->
<!--                                    <option>政大實小</option>-->
<!--                                    <option>政大後山</option>-->
<!--                                    <option>辛亥路</option>-->
<!--                                    <option>先亂打的</option>-->
<!--                                </select>-->
                                <select class="filter_item" name="gender">
<!--                                    不選就是不限-->
                                    <option value=2 selected style="display:none">性別限制 Gender</option>
                                    <option value=0>限男生 male</option>
                                    <option value=1>限女生 female</option>
                                    <option value=2>不限</option>
                                </select>
                                <select class="filter_item" name="floor">
                                    <option value=-1 selected style="display:none">樓層限制 Floor</option>
                                    <option value=1>1樓 first floor</option>
                                    <option value=2>2樓 second floor</option>
                                    <option value=3>3樓 third floor</option>
                                    <option value=4>4樓 fourth floor</option>
                                    <option value=5>4樓以上 above fourth floor</option>
                                </select>
                                <select class="filter_item" name="size">
                                    <option value=-1 selected style="display:none">樓層限制 Floor</option>
                                    <option value=0>0-5坪</option>
                                    <option value=1>5-10坪</option>
                                    <option value=2>10-15坪</option>
                                    <option value=3>15坪以上</option>
                                </select>
                                <!-- 搜尋按鈕 -->
                                    <button class="btn btn_style" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                                <!-- 搜尋按鈕end -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- filter end -->

                <!-- 正文 -->
                <div th:if="${houses.empty}">
                    <h1>No house available</h1>
                </div>
                <div class="col-md-4 col-sm-6" th:each="house: ${houses}">
                    <div class="card">
                        <img src="./images/home.jpg" class="card-img-top card_pic" alt="..." th:src="@{'data:image/jpeg;base64,'+${house.houseImages[0].getBase64()}}">
                        <div class="card-body">
                            <div class="card-btns">
<!--                                 <button>
                                    <i class="fas fa-heart"></i>
                                </button> -->
                                <form method="get" action="#" th:action="@{/house/edit/}+${house.id}">
                                    <button type="submit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </form>
                                <form method="delete" action="#" th:action="@{/house/delete/}+${house.id}" th:method="delete">
                                    <button type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                                <button>
                                    <i class="fa-solid fa-star"></i>
                                </button>
  <!--                               <button>
                                    <i class="fab fa-facebook"></i>
                                </button>
 -->                        </div>
                            <h5 class="card-title" th:text="${house.title}">Title</h5>
                            <p class="card-text" th:text="'地址：'+${house.address}">地址：台北市文山區指南路三段38巷</p>
                            <p class="card-text" th:text="'租金：'+${house.rentPerMonth}"></p>
                            <p class="card-text" th:text="'租期：'+${house.rentTerm}"></p>
                            <a th:href="@{/house/{id}(id=${house.id})}" class="more_btn_style" style="text-decoration: none;">know more...</a>
                        </div>
                    </div>
                </div>


<!--                 <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img src="./images/home2.jpg" class="card-img-top card_pic" alt="...">
                        <div class="card-body">
                            <div class="card-btns">
                                <button>
                                    <i class="fas fa-heart"></i>
                                </button>
                                <button>
                                    <i class="fa-solid fa-star"></i>
                                </button>
                                <button>
                                    <i class="fab fa-facebook"></i>
                                </button>
                            </div>
                          <h5 class="card-title"> 政大平面美妝套房</h5>
                          <p class="card-text">地址：台北市文山區指南路三段<br>月租：6500元<br>房型：雅房 / 樓層：1樓</p>
                          <a href="./search_detail_page.html" class="more_btn_style" style="text-decoration: none;">know more...</a>
                        </div>
                    </div>
                </div> -->
                <!-- 正文end -->

                <!-- demand post -->
                <div class="container p-5">
                    <h3 class="post_title">特別需求發文 Special Post</h3>
                    <div class="slider responsive">
                        <!-- 之後要抓使用者發出的post中的文字  -->

                        <!-- 1 -->
                        <div class="post_content" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">聯絡發文者 Contact</a>
                            </div>
                        </div>
                        <!-- 1  -->

                        <!-- 2 -->
                       <div class="pho">

                        </div>
                        <!-- 2 -->

                        <!-- 3 可是照片之間padding失效 -->
                        <div class="post_content" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">聯絡發文者 Contact</a>
                            </div>
                        </div>
                        <!-- 3 -->

                        <!-- 4 -->
                        <div class="pho">

                        </div>
                        <!-- 4 -->

                        <!-- 5 -->
                        <div class="post_content" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">聯絡發文者 Contact</a>
                            </div>
                        </div>
                        <!-- 5 -->

                        <!-- 6 -->
                        <div class="pho">

                        </div>
                        <!-- 6 -->

                    </div>
                </div>
                <!-- demand post end -->

            </div>
        </div>
    </section>


    <script>
        var nav_links = document.getElementById("nav_links");
        var mbtn = document.getElementById("mbtn");
        var navbar = document.getElementById("navbar");

        function showMenu(){
            nav_links.style.right = "0";
            // 因為右邊導覽列微透明所以要隱藏三條線
            mbtn.style.display = "none";
            navbar.classList.remove("nav_fixtop");
        }

        function hideMenu(){
            nav_links.style.right = "-200px";
            mbtn.style.display = "block";
            navbar.classList.remove("nav_fixtop");
        }

      // Wrap every letter in a span 篩選器標題動畫效果
        var textWrapper = document.querySelector('.ml11 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
        .add({
            targets: '.ml11 .line',
            scaleY: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700
        })
        .add({
            targets: '.ml11 .line',
            translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
            easing: "easeOutExpo",
            duration: 700,
            delay: 100
        }).add({
            targets: '.ml11 .letter',
            opacity: [0,1],
            easing: "easeOutExpo",
            duration: 600,
            offset: '-=775',
            delay: (el, i) => 34 * (i+1)
        }).add({
            targets: '.ml11',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
      //  end

      //特別發文--輪播套件
        $(".responsive").slick({
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
            {
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
            }
            },
            {
            breakpoint: 600,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
            },
            {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
            }
        ]
        });

        /*子安新增 form function*/
        function show_post_form(){
            document.getElementById("myForm").style.display = "block";
        }

        function close_post_form(){
            document.getElementById("myForm").style.display = "none";
        }

        /*子安新增結束*/


    </script>
</body>
</html>
