@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Noto+Sans+TC:wght@500&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    font-family: 'Poppins', cursive,'Noto Sans TC';
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FDD692;

}

/*logo*/
.logo{
    color: 	#f1d691;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
}

.logo:hover{
    color: 	#ebe9e5;
    text-decoration: none;   
}


/* nav */
.nav{
    /* 由左至右 */
    display: flex;
    padding: 2% 6%;
    /* 每個元素左右均分 */
    justify-content: space-between;
    /* 讓LOGO垂直至中(交錯軸) */
    align-items: center;
    transition: all 0.5s;
    background-color: rgb(205, 113, 48);
    position: relative;
    z-index: 50;
}

.nav_fixtop {
    /* overflow: hidden; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

.nav_links{
    /* 大小same */
    flex: 1;
    text-align: right;
}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav_links ul li a{
    /* nav刻字設計 */
    color: aliceblue;
    text-shadow: -1px -1px 0 black;
    text-decoration: none;
    font-size: 16px;
}

/* 底線色塊偽元素 */
.nav_links ul li::after{
    content: "";
    /* 先設為寬度0未顯示 */
    width: 0%;
    height: 2px;
    background:#f9b822;
    display:block;
    margin: auto;
    transition: 0.5s;
}

.nav_links ul li:hover::after{
    /* 等游標移上去再顯示 */
    width: 100%;
}


/* dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 150;
}

/* dropdown 內容*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dea00e37;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
}

.dropdown-content a {
    text-align: left;
    padding: 6px 9px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown content on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.container_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    margin-top: 5%;
    background: url(../static/images/home2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    

}

.container_box .content{
    position:absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background-color:transparent;
    padding: 80px;
    color: #ffffff;
    text-shadow: 1px 2px 3px black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.container_box .post_box{
    position:absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}

.text_box h2{
    font-size: 40px;
    line-height: 1;
}

.text_box h2 span{
    font-size: 25px;
}

.text_box p {
    font-size: 16px;
    margin: 20px 0;
}

input[type=text]:focus {
    background-color:rgb(243, 241, 239);
    border-radius: 15px;
    padding-left: 2%;
}

input::placeholder{
    padding-left: 2%;
    color: rgb(78, 76, 76);
    font-size: 15px;
}


.post_box .form_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #2b2a2a;
    text-shadow: 1px 1px 2px white;
    padding-left: 10%;
}

.submit_background{
    text-align: center;
}

.submit_btn{
    /* 行內區塊可以設寬高 */
    display: inline-block;
    text-decoration: none;
    color: rgba(3, 3, 3, 0.979);
    border: 1px solid white;
    margin-top: 2%;
    margin-left: 50%;
    padding: 10px 5px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
    /*button長寬*/
    width: 100px;
    height: 35px;
}

.submit_btn:hover{
    text-decoration: none;
    border:none;
    color: rgba(147, 0, 0, 0.796);
    background:rgb(237, 204, 144);
    border-radius: 10px;
    transition:0.5s;
}

